header {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom-size: 1px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
}

.logo{
	background: url("../images/logo.png");
	margin: 0px 20px;
	width: 140px;
  	height: 60px
}

