div section{
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border :1px solid #DDDDDD;
	border-radius: 4px;
}

div section button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	margin: 11px 11px 40px 650px;
	border:0px;
	border-radius: 4px;
	right: 100px;
}
